.sidebar {
  height: 100vh;
  background-color: rgb(1, 1, 69);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sidebar > div {
  width: 60%;
  min-height: auto;
}

.sidebar h2 {
  color: white;
  font-size: 0.8rem;
  margin: 20% 5%;
}

.progres {
  display: flex;
  color: white;
  width: 100%;
  align-items: center;
}

.progres > div {
  margin-left: 2%;
  background-color: rgba(245, 245, 220, 0.364);
  width: 13%;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 2px white solid;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 1px 0.5px;
}

.progres h3 {
  text-align: center;
  margin: 2%;
  font-size: 0.8rem;
}

.progres .selected {
  background-color: rgb(0, 255, 42);
  transform: scale(1.1);
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .sidebar {
    width: 100vw;
    height: 15vh;
  }
  .progres {
    flex-direction: column;
    align-items: center;
  }

  .progres h2 {
    font-size: 0.5rem;
    font-weight: 300;
  }

  .progres > div {
    width: auto;
    aspect-ratio: 1;
  }

  .sidebar-inner {
    display: flex;
  }
  .sidebar > div {
    width: 80%;
  }

  .sidebar h2 {
    margin: 10% 5%;
  }

  .progres > div {
    width: 10%;
  }

  .progres h3 {
    font-size: 0.3rem;
  }
}
